<template>
<div class="app-container">
  <h1> Mejdeddine's TodoList</h1>
  <div class="todo-input">
     <input type="text" placeholder="Enter your next Todo Task" v-model="todoItem.title"><br>
     <button class="submit-btn" @click="addTodo"> + </button>
  </div>
  <div class="todo-list">
        <ul v-for=" item in todos" :key="item">
            <div class="items_display">
            <li>{{item.title}}</li>
            <input class="c-btn" type="checkbox" value={{item.isDone}}>
            <button @click="deleteTodo" class="delete-btn"> Delete </button>
            </div>
        </ul>
  </div>
  <div>
      <button>Clear All</button>
  </div>
</div>
  
</template>

<script>
import { ref } from "vue"
import { useStore } from "vuex"

export default {
    
    setup(){
        const todoItem = ref({
            id: Date.now(),
            title:"",
            isDone: false
        })
        const store = useStore()
        const todos =  store.state.todos
        
        const addTodo = () =>{
            store.commit("addTodo", todoItem.value)
            todoItem.value = {}
            }
        const deleteTodo = ()=>{
            store.commit("deleteTodo", todoItem.value)
        }
        
    
    return {
        todoItem,
        todos,
        addTodo,
        deleteTodo,
        }
    
    
    }

}
</script>

<style scoped>

.app-container{
    display: block;
    position: relative;
    padding: 30px;
    top: 150px;
    border: 7px solid rgb(240, 248, 206);
    border-radius: 30px;
    width: 550px;

}

.todo-input{
    display: flex;}

h1{
    font-size: 50px;
    color: blue;
}
input{
    padding: 10px;
    border: 2px solid grey;
    margin: 2px;
}

.submit-btn{
    padding: 7px;
    color: white;
    background-color: blue;
    border: 1px solid blue;
}
.c-btn{
    border: 2px solid crimson;
    margin: 3px;
    padding: 5px;
}
.todo-list{
    color: black;
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.items_display{
    display: flex;
}

</style>