<template>
   <TodoInput/>
</template>

<script>

import TodoInput from "./components/TodoInput.vue"
export default {
  name: 'App',
  components: {TodoInput},
}
</script>

<style>
/* #app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
} */
body{
  display: flex;
  justify-content: center;
  background-image:
  linear-gradient(90deg,rgb(243, 145, 145) 30%, rgb(243, 153, 111) 50%);
}
</style>
